# Virtual Environment
venv/
.env

# Python internals
__pycache__/
*.pyc
*.pyo
*.pyd

# Market Data Vault (Ignore all local data)
data/
.aider*

# Log files
*.log
logs/
log/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
